.carousel-item{
    height:550px;
}

.carousel-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity: 1;
}

.carousel-caption{
    right:50%;
    transform:translateY(-60%);
}

.carousel-inner {
    overflow: hidden;
}

/* .carousel-item img {
    opacity: 0.5;
} */


.carousel-control-prev,
.carousel-control-next {
    background: none;
    opacity: 0.0;
}

